body {
	font-family: PT Sans, Arial, Sans-Serif;
	color: black;
}

/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  src: url('../fonts/pt-sans-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/pt-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v12-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

/** HEADER **/
#header-nav {
	background-color: white;
	min-height: 80px;
	margin-bottom: 0px;
}

#site-title {
	font-weight: 700;
}

.navbar-brand h1 {
	color: black;
	font-size: 150%;
	margin-top: 10px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list a {
	text-align: center;
 	font-size: 150%;
 	margin-top: 5px;
 	color: black;
 }

 #nav-list a:hover {
 	background: #F99F39;
}

.navbar-header button.navbar-toggle {
 	clear: both;
 	margin-top: -30px;
}

#main-content {
	position: relative;
	text-align: center;
	width: 100%;
	float: left;
	margin-bottom: 32px;
}

.background img {
height: 480px;
object-fit: cover;
width: 100%;
}

.background p {
	position: absolute;
	left: 0;
	right: 0;
}

#welcome {
	bottom: 292px;
	color: white;
	font-size: 46px;
	font-weight: 600;
	}

#happy {
	top: 210px;
	color: white;
	font-size: 20px;
	}

#learn {
	color: white;
	font-size: 20px;
	top: 300px;
	font-weight: bold;
	background-color: #1279BE;
	line-height: 1;
	border-radius: 5px;
	padding: 16px 24px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

 #learn:hover {
 	background: #F99F39;
 	text-decoration: none;
}

.main-text {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.6;
	color: black;
	margin-top: 32px;
	margin-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
	max-width: calc(782px - 32px);
	overflow-wrap: break-word;
}

.panel-footer {
	background-color: #CDCDCD;
}

@media (max-width: 767px) {
	#Why section {
	margin-top: -10px;
	}
}

#Why span {
	font-size: 16px;
 	margin-bottom: 10px;
}

#Why i {
	font-size: 24px;
 	margin-bottom: 10px;
}

@media (max-width: 767px) {
	#Why i {
	margin-bottom: 0px;
	}
}

#Contact div {
	font-size: 16px;
	margin-top: 10px;
	}

@media (max-width: 767px) {
	#Contact div {
	 margin-top: 0;
	}
}

.panel-footer section {
    text-align: center;
  }

.panel-footer hr {
    width: 50%;
  }

  @media (max-width: 767px) {
	.panel-footer hr {
	margin-bottom: 5px;
	margin-top: 10px;
	}
}

.category-tile {
	position: relative;
	border-radius: 50px;
	width: 375px;
  	height: 250px;
  	margin: 0 auto 32px;
  	overflow: hidden;
  	color: white;
  	max-width: 375px;
  	width: 100%;
  	overflow-wrap: break-word;
}

.category-tile h3 {
	position: absolute;
	top: 0;
  	right: 0;
  	margin-top: 0;
  	padding: 8px;
	width: 100%;
  	text-align: center;
  	background-color: #000;
  	opacity: .8;
  	max-width: 375px;
  	width: 100%;
  	overflow-wrap: break-word;
}

.category-tile:hover {
  box-shadow: 0 1px 5px 1px #1279BE;
}

#Copyright {
	 margin-top: 20px;
	}

@media (max-width: 767px) {
	#Copyright {
	 margin-top: 0;
	}
}

.navbar-default .navbar-nav > .active > a {
    background-color: #F99F39;
}

.contact-tile {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.6;
	color: black;
	margin-top: 32px;
	margin-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(782px - 32px);
	overflow-wrap: break-word;
	clear: both;
	text-align: center;
}
